NODE_ENV=development
API_PORT=4000

DATABASE_URL=postgres://ems_user:ems_password@localhost:5432/ems_logistics

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret

WEB_URL=http://localhost:5173
API_URL=http://localhost:4000/api
